.icon-add {
    background: #070707;
    border-radius: 100%;
    color: white;
    margin-right: 10px !important;
}

.icon-remove {
    background:  #000000;
    border-radius: 100%;
    color: white;
}