.encabezado{
background: rgb(185, 179, 179);
border-radius: 30px;
margin: 20px;
text-align: center;
padding: 10px;
}

.image{
    padding: 10px;
    border: 1 px solid rgb(185, 179, 179);
    width:100%;
    border-radius: 20px;
    margin: auto;
}